
*{
    box-sizing: border-box;
}
html{
    background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background:transparent;

height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-content:center;
}
.container{
    /* padding: 10rem; */
    margin-top: 13rem;
    height: 40vh;
    width:60%;
    background-color: #202124;
    color:#000;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container , h1,h2{
text-align: center;
}
.container> h1{
 color:#887fff;
    }
    .container> h2{
        color:#fff;
           }
.count{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.countso{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
}

.countd{
margin-left: 10px;
color:#fff;
border:2px solid #887fff;
padding:10px;
border-radius: 10px;
width:200px
}

@media only screen and (max-width: 900px) {
    .container{
        margin:75px auto;
        width:90%
    }
    .count{
        font-size: 20px;
    }
    .countso{
        font-size: 20px;
       
    }
    .countso > i{
        height:40px;
        width:40px; 
    }
  }

  .credit{

margin-top: 20px;
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.credit a{
    text-decoration: none;
    color:#887fff;
    font-weight: bold;
}   

