@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.container{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    /* padding: px; */
}
.container-in{
    width: 95%;
}
nav{
    padding: 0.7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-one{
    width: 20%;
    margin-left: 20px;
}
.nav-one h3{
    font-weight: 400;
    font-size: 1.2rem;
}
.nav-one a{
    text-decoration: none;
    color: white;
}
.nav-two{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-two a{
    text-decoration: none;
    color: white    ;
}
/*------------------------------------------------Section-one----------------------------------------------- */
.section-one{
    width: 100%;
    padding: 8.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-one img{
    border-radius: 50px;
}
.section-one-in{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-one-in p{
    font-weight: 500;
    font-size: 1rem;
}
.section-one-in h3{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}
.section-one-in h5{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
}
.section-one-in span{
    color: grey;
}
.section-one-in button{
    width: 18%;
    padding: 8px;
    border-radius: 50px;
    background-color: grey;
    border: 2px solid transparent;
    margin-top: 25px;
}
/* ------------------------------------------------SectionThree---------------------------------------------- */
.section-three{
    padding: 4rem 0rem ;
    width: 100%;
    /* background-color:red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-three h2{
    font-size: 2.5rem;
    font-weight: 400;
}
.section-three-boxs{
    width: 95%;
}
.section-three-boxs.container{
    width: 30%;
    background-color: red;
}
